{% extends 'base.html' %}

{% block app_content %}
	<div class="control">
		<a class="btn btn-warning home" href="{{url_for('index') }}">На главную</a>
		<a class="btn btn-info refresh" href="{{url_for('live') }}">Создать жизнь</a>
		<span class="age">{{ game.age }}</span>
	</div>

	<table class="world">
		{% for i in range(game.height) %}
			<tr>
				{% for j in range(game.width) %}
					{% if game.world[i][j] %}
				 		<td class="cell living-cell"></td>
					{% elif not game.world[i][j] and game.old_world[i][j] %}
						<td class="cell dead-cell"></td>
					{% else %}
						<td class="cell"></td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script>
		setInterval (() => window.location.reload(), 1000);
	</script>
{% endblock %}